/*------------------------------------------------------------------
[ Angular helper to prevent html from being displayed uncompiled ]
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/*------------------------------------------------------------------
[ Application loader and main body ]
*/
.application-content{
    margin-top: 60px;
}
.splash {
    text-align: center;
    margin: 10% 0 0 0;
}
.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-transform: uppercase;
}
.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}
.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}
/*------------------------------------------------------------------
[ Bootstrap Additions ]
*/
.modal-dialog.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

/*------------------------------------------------------------------
[ Bootstrap Overides ]
*/

/* IE doesn't shade active buttons properly so force it */
/*.btn-group > .btn.active.btn-primary{*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C6A8C', endColorstr='#385A7F', GradientType=0);*/
/*}*/


.list-group-item-sm {
    padding-bottom: 5px;
    padding-top: 5px;
}
.hr-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel > .alert-panel{
    margin-bottom: 0;
}
/*------------------------------------------------------------------
[ Temp fix for modals in Angular UI because they don't currently support bootstrap 3 ]
*/
.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}
/*------------------------------------------------------------------
[ Temp fix for Bootstrap 3 tooltips and IE8 - shouldn't be necessary after next release ]
*/
.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.tooltip.top{
    background-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
    border-top-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
    border-top-color: #000000;
}
/*------------------------------------------------------------------
[ Helper Classes ]
*/
.bold {
    font-weight: 600;
}
.no-margin {
    margin: 0;
}
/*------------------------------------------------------------------
[ Print ]
*/
@media print
{
    .application-content{
        margin-top: 0;
    }
    .btn, .toast-container, .no-print{
        display:none;
    }
    .well {
        border: 0;
        margin: 0;
        padding: 0;
     }
    .panel {
        border: 0;
    }
    .panel-heading {
        font-weight:bold;
    }
    .list-group-item{
        border:0;
    }
    hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    body {
        font-size: 12px;
    }
    .list-group-item-sm{
        padding-bottom: 5px;
        font-size:85%;
    }
}
