<style type="text/css">
    .navbar-inverse {
        background-color: #22262e;
    }
</style>
<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#one-app-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img height="23px" width="23px" src="styles/images/logo-o.png" alt="Logo"> RTM</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"  id="one-app-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{active: isActive('/')}"><a href="#">
                    <i class="fa fa-home fa-lg"></i> Home</a></li>
                <li class="dropdown">
                    <a href="#/" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-sitemap fa-lg"></i> Projects <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-repeat="project in projects" href="#/projects/{{ project.id }}">{{ project.title }}</a></li>
                    </ul>
                </li>
                <li ng-if="state.projectRoute" class="active">
                    <a>{{ activeProject.title }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Apps <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li role="presentation" class="dropdown-header">General</li>
                        <li>
                            <a ng-repeat="nav in navByType('primary')" href="{{ nav.link }}"><i class="fa {{ nav.icon }}"></i>
                                {{ nav.label }}</a>
                        </li>

                        <li class="divider"></li>

                        <li role="presentation" class="dropdown-header">Options</li>
                        <li title="Report Suggestions or Issues">
                            <a ng-click="provideFeedback()">
                                <i ng-click="userFeedbackModal()"
                                   class="fa fa-lightbulb-o"></i> Provide Feedback
                            </a>
                        </li>

                        <li class="divider" ng-show="state.isAdmin"></li>

                        <li role="presentation" class="dropdown-header" ng-show="state.isAdmin">Admin</li>
                        <li ng-show="state.isAdmin">
                            <a ng-repeat="nav in navByType('secondary')" href="{{ nav.link }}"><i class="fa {{ nav.icon }}"></i>
                                {{ nav.label }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <span us-spinner="{radius:5, width:2, length: 8, color: '#ffffff'}" style="position:absolute;right:24px;top:24px; margin-left: 8px" spinner-key="nav-spinner"></span>
    </div>
</div>